h1{
    font-size: 50px;
}
body{
    margin: 0%;
    margin-top: 40px;

}
.section1{
    padding-left: 50px;
}
.mission22{
    color: rgb(196, 40, 40);
}
.explor{
     text-decoration: none;
     background-image: linear-gradient(black,black);
     font-weight: 700;
    color: rgb(182, 15, 15);
    padding: 10px 20px;
    border-radius: 5px;
}
.border{
    
    border-left: 5px solid brown;
    border-radius: 5px;
    padding-left: 10px;
}
.half-width{
    width: 50%;
    padding-left: 10%
}
.half-width img{
    width: 50%;
   
}
.flaxible{
    display: flex;
    margin-bottom: 100px;
}
.mission-2022{
    font-size: 40px;
    text-align: center;

}
.number2022{
    color: chartreuse;
 }
.robot{
    width: 30%;
     
}
.box{
    width: 20%;
    background-color: rgba(255, 127, 80, 0.342);
    margin-left: 200px;
    height: ;
    padding-left: 5px;
    border-radius: 20px;
}
.vission{
    border-radius: 20px;
    width: 20%;
    background-color: rgba(95, 158, 160, 0.466);
    margin-left: 20px;
    padding: 5px;
    height: 300px;
}
.robot2{
    width: 30%;
}
.section2{
    display: flex;
}
.goal{
    border-radius: 20px;
    width: 20%;
    background-color: rgba(38, 38, 224, 0.288);
    margin-left: 20px;
    padding: 5px;
}
.robot3{
    width: 35%;
}
.project img{
    width: 60%;
    padding-top: 100px; 
    padding-left: 200px;

}
.read{
      text-decoration: none;
     background-image: linear-gradient(black,black);
     font-weight: 700;
    color: rgb(182, 15, 15);
    padding: 10px 20px;
    border-radius: 5px;
      
}
.section3{
    display: flex;
    padding-top: 40px;
}
.develop{
    padding-top: 100px;
    margin-right: 100px;
    
}
.project{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}
.global{
      margin-left: 100px;
      width: 100%;
      padding-left: 8%;
      padding-top: 150px;
}
.project1 img{
    padding-top: 100px;
    width: 60%;
    padding-left: 20px;
}
.section4{
    display: flex;
}
.project1{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom;
    padding-bottom: 80px;
    padding-right: 80px;
}
.build{
    text-align: center;
    font-size: 45px;
}
.corona{
    color: chocolate;
}
.app img{
    width: 45%;
    padding-top: 60px;
    padding-left: 300px;

}
.gocorona{
    margin-right: 250px;
    padding-top: 150px;

}
.section5{
    display: flex;
    padding-bottom: 20px;
}
 
.coronaapp{
     text-decoration: none;
    background-image: linear-gradient(black,black);
    font-weight: 700;
    color: rgb(182, 15, 15);
    padding: 10px 20px;
    border-radius: 5px;
     
}
.last{
    font-size: 30px;
    text-align: center;
}
.last2022{
    color: coral;

}
.lastwork{
    font-size: 10px;
    text-align: center;
}
.white{
    color: white;
}
.last{
    background-color: black;
     padding-bottom: 5px;
     padding-top: 5px;
}
h2{
    font-size: 25px;
}
